header, nav, section, aside, footer {
    background-color: #ebebeb;
    color: #777;
    margin-top: 15px;
    text-align: center;
    padding: 25px;
}

header, nav, footer {
    margin-right: 150px;
    margin-left: 150px;
}


body {
    background-color: #777;
    font-family: 'Roboto', sans-serif;
}

article {
    background-color: #777;
    color: #ebebeb;
    padding: 15px;
    margin-top: 15px;
    display: block;

}

section {
    float: left;
    margin-bottom: 15px;
    height: 225px;
    width: 30%;
    margin-left: 150px;
}

article div, article p {
    background-color: #ebebeb;
    color: #777;
    padding: 15px;
    margin-top: 15px;
    height: 25px;
}
aside {
    float: right;
    height: 225px;
    width: 30%;
    margin-right: 150px;
}

footer {
    clear: both;
    margin-bottom: 15px;
}
Add Comment Co