*{box-sizing: border-box;
   text-align: center;}

body{background-color:#777; 
    font-size:24px; 
}
#header{
    width:70%; 
    margin:auto;
    background: #ccc;
    padding:20px;
    margin-bottom: 20px;
    color:#333;


}
#nav{ width:70%; 
    margin:auto;
    background: #ccc;
    padding:20px;
    margin-bottom: 20px;
    color:#333;


    
}


#footer{ clear:both;
    width:70%; 
    margin:auto;
    padding:20px; 
    background-color:#ccc; 
}